!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes", :name => "viewport"}
    %title cmi-toggle-button demo
    %script{:src => "../../webcomponentsjs/webcomponents-lite.js"}
    %link{:href => "../../cmi-doc-code-box/cmi-doc-code-box.html", :rel => "import"}
    %link{:href => "../../paper-styles/demo-pages.html", :rel => "import"}
    %link{:href => "../../cmi-menu/cmi-menu.html", :rel => "import"}
    %link{:href => "../../cmi-item/cmi-item.html", :rel => "import"}
    %link{:href => "../../cmi-button/cmi-button.html", :rel => "import"}
    %link{:href => "../../cmi-tabs/cmi-tabs.html", :rel => "import"}
    %link{:href => "../../cmi-tabs/cmi-tab.html", :rel => "import"}
    %link{:href => "../cmi-dropdown-menu.html", :rel => "import"}

  %body{ unresolved: true }

    %template{ id: "Demo", is: "dom-bind" }

      .horizontal-section-container
        %div
          %h4 Basic Menu
          .horizontal-section
            %cmi-dropdown-menu{ label: "Dinosaurs" }
              %cmi-menu{ class: "dropdown-content" }
                %template{ is: "dom-repeat", items: "[[dinosaurs]]", as: "dinosaur" }
                  %cmi-item= "[[dinosaur]]"

      .horizontal-section-container
        %div
          %h4 Pre-selected Value
          .horizontal-section
            %cmi-dropdown-menu{ label: "Dinosaurs" }
              %cmi-menu{ class: "dropdown-content", selected: "1" }
                %template{ is: "dom-repeat", items: "[[dinosaurs]]", as: "dinosaur" }
                  %cmi-item= "[[dinosaur]]"

      .horizontal-section-container
        %div
          %h4 Disabled
          .horizontal-section
            %cmi-dropdown-menu{ disabled: true, label: "Disabled" }
              %cmi-menu{ class: "dropdown-content" }
                %template{ is: "dom-repeat", items: "[[letters]]", as: "letter" }
                  %cmi-item= "[[letter]]"

      .horizontal-section-container
        %div
          %h4 Alternative Content
          .horizontal-section
            %cmi-dropdown-menu{ label: "Menu tabs!?" }
              %cmi-tabs{ class: "dropdown-content" }
                %template{ is: "dom-repeat", items: "[[letters]]", as: "letter" }
                  %cmi-tab= "[[letter]]"

      .horizontal-section-container
        %div
          %h4 No Label Float
          .horizontal-section
            %cmi-dropdown-menu{ class: "letters", label: "Letters", :'no-label-float' => true }
              %cmi-menu{ class: "dropdown-content" }
                %template{ is: "dom-repeat", items: "[[letters]]", as: "letter" }
                  %cmi-item= "[[letter]]"

      .horizontal-section-container
        %div
          %h4 No Ripple, No Animations
          .horizontal-section
            %cmi-dropdown-menu{ label: "Dinosaurs", noink: true, :'no-animations' => true }
              %cmi-menu{ class: "dropdown-content" }
                %template{ is: "dom-repeat", items: "[[dinosaurs]]", as: "dinosaur" }
                  %cmi-item= "[[dinosaur]]"

    :plain
      <script>
        Demo.letters = [
          'alpha',
          'beta',
          'gamma',
          'delta',
          'epsilon'
        ];
        Demo.dinosaurs = [
          'allosaurus',
          'brontosaurus',
          'carcharodontosaurus',
          'diplodocus',
          'ekrixinatosaurus',
          'fukuiraptor',
          'gallimimus',
          'hadrosaurus',
          'iguanodon',
          'jainosaurus',
          'kritosaurus',
          'liaoceratops',
          'megalosaurus',
          'nemegtosaurus',
          'ornithomimus',
          'protoceratops',
          'quetecsaurus',
          'rajasaurus',
          'stegosaurus',
          'triceratops',
          'utahraptor',
          'vulcanodon',
          'wannanosaurus',
          'xenoceratops',
          'yandusaurus',
          'zephyrosaurus'
        ];
      </script>