%h2#cards.lined
  %span Cards

= code do
  %article.cmi-card
    .cmi-card-content
      %h3.cmi-card-content-headline My highlighted topic
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est.

= code do
  %article.cmi-card
    .cmi-card-image
      %img{ src: 'https://placekitten.com/g/350/300' }
      %span
        Such kitty
    .cmi-card-content
      %h3.cmi-card-content-headline My highlighted topic
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est.
    .cmi-card-actions
      %cmi-button Do this
      %cmi-button Do that

= code do
  %article.cmi-card
    .cmi-card-content
      %h3.cmi-card-content-headline My highlighted topic
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est.
    .cmi-card-separator
    .cmi-card-actions
      %cmi-button Do this
      %cmi-button Do that

= code do
  %article.cmi-card.cmi-card-primary
    .cmi-card-content
      %h3.cmi-card-content-headline My highlighted topic
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est.
    .cmi-card-separator
    .cmi-card-actions
      %cmi-button Do this
      %cmi-button Do that

= code do
  %article.cmi-card
    %header.cmi-header.cmi-card-header
      %h2.cmi-h2.cmi-card-header-headline
        Card with header
    .cmi-card-image
      %img{ src: 'https://placekitten.com/g/350/300' }
      %span
        Such kitty
    .cmi-card-content
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. At Zeno eum non beatum modo, sed etiam divitem dicere ausus est.
    .cmi-card-actions
      %cmi-button Do this
      %cmi-button Do that

= code do
  %article.cmi-card
    %header.cmi-header.cmi-card-header
      %h2.cmi-h2.cmi-card-header-headline
        Card with header
      %h3.cmi-card-header-sub-headline
        And sub headline
    .cmi-card-image
      %img{ src: 'https://placekitten.com/g/350/150' }
      %span
        Such kitty
    .cmi-card-content
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.

= code do
  %article.cmi-card
    %header.cmi-header.cmi-card-header
      .cmi-card-header-image
        %img{ src: 'https://placekitten.com/g/150/150' }
      %h2.cmi-h2.cmi-card-header-headline
        Card with header and image
      %h3.cmi-card-header-sub-headline
        And sub headline
    .cmi-card-image
      %img{ src: 'https://placekitten.com/g/350/150' }
      %span
        Such kitty
    .cmi-card-content
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
