%h2#headlines Headlines

= code_2 do
  %h1 Headline h1
= code_2 do
  %h2 Headline h2
= code_2 do
  %h3 Headline h3
= code_2 do
  %h4 Headline h4
= code_2 do
  %h5 Headline h5

= code_2 do
  %h1.lined
    %span Headline h1 lined
= code_2 do
  %h2.lined
    %span Headline h2 lined
= code_2 do
  %h3.lined
    %span Headline h3 lined
= code_2 do
  %h4.lined
    %span Headline h4 lined
= code_2 do
  %h5.lined
    %span Headline h5 lined