%h2#navbar.cmi-lined
  %span Navbar

%hr/

:css
  .navbar-default .col-left {
    background: #fff;
    padding: 10px;
  }
  .navbar-gray .col-left {
    background: #f0f0f0;
    padding: 10px;
  }

= code_2 html_options: { class: 'navbar-default' } do
  .cmi-navbar
    %ul.cmi-tabs
      %li= link_to 'General', '#general-tab', class: 'cmi-a', onclick: 'return false;'
      %li= link_to 'Meta / SEO', '#seo-tab', class: 'cmi-a', onclick: 'return false;'

= code_2 html_options: { class: 'navbar-default' } do
  .cmi-navbar
    %h3 Headline

= code_2 html_options: { class: 'navbar-gray' } do
  .cmi-navbar.cmi-navbar-padding
    %h3 Headline

= code_2 html_options: { class: 'navbar-default' } do
  .cmi-navbar.cmi-navbar-padding
    %h3 Headline
  .cmi-navbar-alert
    My awesome alert message...

= code_2 html_options: { class: 'navbar-gray' } do
  .cmi-navbar.cmi-navbar-padding
    %h3 Headline
  .cmi-navbar-alert
    %p My awesome alert message...

= code_2 html_options: { class: 'navbar-default' } do
  .cmi-navbar.cmi-navbar-padding
    %h3 Headline
  .cmi-navbar-alert.cmi-navbar-alert-danger
    %p My awesome alert message...

= code_2 html_options: { class: 'navbar-gray' } do
  .cmi-navbar.cmi-navbar-padding
    %h3 Headline
  .cmi-navbar-alert.cmi-navbar-alert-danger
    %p My awesome alert message...
