%h2#text Text

/ ---------------------------------------------
/ blockquote
%h3.lined
  %span Blockquote
= code_2 do
  %blockquote
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Cur, nisi quod turpis oratio est? Duo Reges: constructio interrete. Ergo id est convenienter naturae vivere, a natura discedere. Sed quid attinet de rebus tam apertis plura requirere? Quid, quod res alia tota est? Quae cum dixisset, finem ille.

/ ---------------------------------------------
/ paragraphs
%h3.lined
  %span Paragraphs and sub formats

%h4 p
= code_2 do
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Cur, nisi quod turpis oratio est? Duo Reges: constructio interrete. Ergo id est convenienter naturae vivere, a natura discedere. Sed quid attinet de rebus tam apertis plura requirere? Quid, quod res alia tota est? Quae cum dixisset, finem ille.

%h4 em
= code_2 do
  %p
    %em Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%h4 strong
= code_2 do
  %p
    %strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%h4 small
= code_2 do
  %p
    %small Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%h4 links
= code_2 do
  %p
    #{link_to('Lorem ipsum dolor', '#', class: 'cmi-a')} sit amet, consectetur adipiscing elit.

%h4 .text-light
= code_2 do
  %p.text-light
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%h4 .text-primary
= code_2 do
  %p.text-primary
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%h4 Lists
= code_2 do
  %ul
    %li Row 1
    %li Row 2
    %li Row 3

/ ---------------------------------------------
/ line
%h3.lined
  %span Line

%h3 hr
= code_2 do
  %hr/