:plain
  <dom-module id="simple-dialog">
    <style>
      :host {
        display: block;
        margin: 24px 40px;

        background: var(--paper-dialog-background-color, --primary-background-color);
        color: var(--paper-dialog-color, --primary-text-color);

        @apply(--layout-scroll);
        @apply(--paper-font-body1);
        @apply(--shadow-elevation-16dp);
        @apply(--paper-dialog);
      }

      :host > ::content > * {
        margin-top: 20px;
        padding: 0 24px;
      }

      :host > ::content > .no-padding {
        padding: 0;
      }

      :host > ::content > *:first-child {
        margin-top: 24px;
      }

      :host > ::content > *:last-child {
        margin-bottom: 24px;
      }

      :host > ::content h2 {
        position: relative;
        margin: 0;
        @apply(--paper-font-title);

        @apply(--paper-dialog-title);
      }

      :host > ::content .buttons {
        position: relative;
        padding: 8px 8px 8px 24px;
        margin: 0;

        color: var(--paper-dialog-button-color, --default-primary-color);

        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
      }
    </style>
    <template>
      <content></content>
    </template>
  </dom-module>
  <script>
    (function() {
      Polymer({
        is: 'simple-dialog',
        behaviors: [
          Polymer.PaperDialogBehavior
        ]
      });
    })();
  </script>
.grid-row
  .grid-col-6
    %pre
      = '<dom-module id="simple-dialog">'
      = '  <style include="paper-dialog-common"></style>'
      = '  <template>'
      = '    <content></content>'
      = '  </template>'
      = '</dom-module>'
  .grid-col-6
    %pre
      = "<script>"
      = "  (function() {"
      = "    Polymer({"
      = "      is: 'simple-dialog',"
      = "      behaviors: ["
      = "        Polymer.PaperDialogBehavior"
      = "      ]"
      = "    });"
      = "  })();"
      = "</script>"


%cmi-pages-code-box
  %cmi-button{ :'data-dialog' => 'dialog' } dialog
  %simple-dialog{ id: 'dialog' }
    %h2 Dialog Title
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%cmi-pages-code-box
  %cmi-button{ :'data-dialog' => 'alert' } modal alert
  %simple-dialog{ id: 'alert', modal: true, role: 'alertdialog' }
    %h2 Alert
    %p Discard draft?
    .button
      %cmi-button{ :'dialog-dismiss' => true } Cancel
      %cmi-button{ :'dialog-confirm' => true, autofocus: true } Discard

%cmi-pages-code-box
  %cmi-button{ :'data-dialog' => 'scrolling' } scrolling
  %simple-dialog{ id: 'scrolling' }
    %h2 Scrolling
    %paper-dialog-scrollable
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .buttons
      %cmi-button{ :'dialog-dismiss' => true } Cancel
      %cmi-button{ :'dialog-confirm' => true } OK

