%footer#footer.grid-container
  .grid-row
    .grid-col-12
      .inside-box
        = link_to '#', id: 'footer-curo-logo' do
          = image_tag 'gh-pages/images/logo-navbar-sprite.png', size: '28x30'
        .grid-row.links
          .grid-col-2.grid-col-offset-3
            = link_to 'Imprint', 'imprint.html'
          .grid-col-2
            = link_to 'curocms.com', '#'
          .grid-col-2
            = link_to 'wonderweblabs', '#'

        %hr/
        %p.disclaimer
          Curo CMS and Curo Material Interface are products of wonderweblabs.
          %br/
          #{link_to('wonderweblabs - webdesign & platform development', 'https://www.wonderweblabs.com', target: :blank)}