%header#top.grid-container
  .grid-row
    .grid-col-12
      %nav.cmi-nav
        %ul.cmi-ul
          %li.cmi-li= link_to 'CMI', ''
          %li.cmi-li= link_to 'Javascript', 'javascripts.html'
          %li.cmi-li= link_to 'Marionette Behaviors', 'behaviors.html'
      %h1.cmi-h1= yield_content(:headline)
      .buttons
        = link_to 'View on GitHub', 'https://github.com/wonderweblabs/curo-material-interface', class: 'cmi-btn cmi-btn-raised cmi-btn-default cmi-btn-small'
        = link_to 'Download .zip', 'https://github.com/wonderweblabs/curo-material-interface/zipball/master', class: 'cmi-btn cmi-btn-raised cmi-btn-default cmi-btn-small'
        = link_to 'Download .tar.gz', 'https://github.com/wonderweblabs/curo-material-interface/tarball/master', class: 'cmi-btn cmi-btn-raised cmi-btn-default cmi-btn-small'

