!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = tag(:meta, name: 'description', content: yield_content(:html_description))
    = tag(:meta, name: 'keywords', content: yield_content(:html_description))
    = tag(:meta, name: 'robots', content: yield_content(:html_robots))
    %title= yield_content(:title) || "Curo Material Interface"

    = stylesheet_link_tag 'base'
    = javascript_include_tag '//code.jquery.com/jquery-2.1.3.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.1/backbone.marionette.min.js'
    = javascript_include_tag 'base'

  %body.cmi
    = partial'shared/browse_happy'
    = partial'shared/header'
    = yield
    = partial'shared/footer'
    = partial'shared/analytics' if config[:google_analytics] == true

