!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
    = tag(:meta, name: 'description', content: yield_content(:html_description))
    = tag(:meta, name: 'keywords', content: yield_content(:html_description))
    = tag(:meta, name: 'robots', content: yield_content(:html_robots))
    %title= yield_content(:title) || "Curo Material Interface"

    -#= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'
    -#= stylesheet_link_tag 'base'
    -#= surround '<!--[if IE]>', '<![endif]-->' do
    -#  = stylesheet_link_tag 'base-ie'

    = javascript_include_tag '//code.jquery.com/jquery-2.1.3.min.js'

    = graspi_stylesheet_link_tag('cmi/cmi')
    = graspi_stylesheet_link_tag('cmi_doc/application')

    = graspi_javascript_include_tag('cmi/cmi')
    = graspi_javascript_include_tag('cmi_doc/application')

    = graspi_html_link_tag('cmi/webcomponents')

  %body.cmi.layout.vertical.fullbleed
    = partial 'shared/browse_happy'
    %paper-drawer-panel
      %paper-header-panel.flex{ drawer: true }
        %paper-toolbar.paper-header
        .content.fit
          = yield_content(:sidebar_content)
      %paper-header-panel.flex{ main: true }
        %paper-toolbar.paper-header
          =# partial 'shared/header'
        %div.content.fit
          = yield
          = partial 'shared/footer'
          = partial 'shared/analytics' if config[:google_analytics] == true


