- content_for(:title, 'Curo Material Interface')
- content_for(:html_description, '')
- content_for(:html_keywords, '')
- content_for(:html_robots, 'index,follow')

- content_for(:headline, 'Curo Material Interface')


.grid-container
  .grid-row
    .grid-col-12
      %h3 Material design ui extracted from Curo CMS
      %p
        Most of the ui elements are to Google`s #{link_to('Material Design', 'http://www.google.com/design/spec/material-design/introduction.html', target: :blank)} concept.
      %hr/

  / ---------------------------------------------
  / headlines
  .grid-row
    .grid-col-6
      %h1 Headline h1
      %div{ style: 'height: 1px;' }
      %h2 Headline h2
      %div{ style: 'height: 1px;' }
      %h3 Headline h3
      %div{ style: 'height: 1px;' }
      %h4 Headline h4
      %div{ style: 'height: 1px;' }
      %h5 Headline h5

    .grid-col-6
      %h1.cmi-lined
        %span Headline h1 lined
      %div{ style: 'height: 1px;' }
      %h2.cmi-lined
        %span Headline h2 lined
      %div{ style: 'height: 1px;' }
      %h3.cmi-lined
        %span Headline h3 lined
      %div{ style: 'height: 1px;' }
      %h4.cmi-lined
        %span Headline h4 lined
      %div{ style: 'height: 1px;' }
      %h5.cmi-lined
        %span Headline h5 lined

  / ---------------------------------------------
  / line
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Line
      %hr/

  / ---------------------------------------------
  / blockquote
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Blockquote
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Cur, nisi quod turpis oratio est? Duo Reges: constructio interrete. Ergo id est convenienter naturae vivere, a natura discedere. Sed quid attinet de rebus tam apertis plura requirere? Quid, quod res alia tota est? Quae cum dixisset, finem ille.

  / ---------------------------------------------
  / paragraphs
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Paragraphs and sub formats
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Cur, nisi quod turpis oratio est? Duo Reges: constructio interrete. Ergo id est convenienter naturae vivere, a natura discedere. Sed quid attinet de rebus tam apertis plura requirere? Quid, quod res alia tota est? Quae cum dixisset, finem ille.
      .grid-row
        .grid-col-6
          %h3 em
          %p
            %em Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %h3 strong
          %p
            %strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %h3 small
          %p
            %small Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .grid-col-6
          %h3 links
          %p
            %small #{link_to('Lorem ipsum dolor', '#')} sit amet, consectetur adipiscing elit.
          %h3 .text-light
          %p.text-light
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %h3 .text-primary
          %p.text-primary
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  / ---------------------------------------------
  / navbar
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Navbar
  .grid-row
    .grid-col-12
      %h3 .cmi-navbar
      .cmi-navbar
        %ul.cmi-tabs
          %li= link_to 'Allgemein', '#general-tab'
          %li= link_to 'Meta / SEO', '#seo-tab'
  .grid-row
    .grid-col-6
      .cmi-navbar
        %h3 Überschrift
    .grid-col-6
      %div{ style: 'width: 100%; height: 100px; background: #f0f0f0; padding: 10px' }
        .cmi-navbar
          %h3 Überschrift
  .grid-row
    .grid-col-12
      %h3 .cmi-navbar.cmi-navbar-padding
      %div{ style: 'width: 100%; height: 100px; background: #f0f0f0; padding: 10px' }
        .cmi-navbar.cmi-navbar-padding
          Hallo Welt

  .grid-row
    .grid-col-12
      %h3 Navbar with alert
  .grid-row
    .grid-col-6
      %div{ style: 'width: 100%; height: 170px; background: #f0f0f0; padding: 10px' }
        .cmi-navbar.cmi-navbar-padding
          Hallo Welt
        .cmi-navbar-alert
          %p
            My awesome alert message...
    .grid-col-6
      %div{ style: 'width: 100%; height: 170px; background: #fff; padding: 10px' }
        .cmi-navbar.cmi-navbar-padding
          Hallo Welt
        .cmi-navbar-alert
          %p
            My awesome alert message...

  .grid-row
    .grid-col-12
      %h3 Navbar with danger alert
  .grid-row
    .grid-col-6
      %div{ style: 'width: 100%; height: 170px; background: #f0f0f0; padding: 10px' }
        .cmi-navbar.cmi-navbar-padding
          Hallo Welt
        .cmi-navbar-alert.cmi-navbar-alert-danger
          %p
            My awesome alert message...
    .grid-col-6
      %div{ style: 'width: 100%; height: 170px; background: #fff; padding: 10px' }
        .cmi-navbar.cmi-navbar-padding
          Hallo Welt
        .cmi-navbar-alert.cmi-navbar-alert-danger
          %p
            My awesome alert message...

  / ---------------------------------------------
  / icons
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Icons
      %p
        See google material design icons:
      %ul
        %li= link_to 'Github', 'https://github.com/google/material-design-icons', target: :blank
        %li= link_to 'Icon-List', 'http://google.github.io/material-design-icons/', target: :blank

  / ---------------------------------------------
  / buttons
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Buttons
      .grid-row
        .grid-col-6
          %h3 Flat (default)
          %h4 .cmi-btn
          = link_to 'Button', '#', class: 'cmi-btn', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-default
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-default', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-primary
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-primary', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-default.cmi-btn-small
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-default cmi-btn-small', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-default.cmi-btn-large
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-default cmi-btn-large', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-default.cmi-btn-block
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-default cmi-btn-block', onclick: 'return false;'
        .grid-col-6
          %h3 Raised
          %h4 .cmi-btn.cmi-btn-raised
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-raised', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-raised.cmi-btn-default
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-raised cmi-btn-default', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-raised.cmi-btn-primary
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-raised.cmi-btn-default.cmi-btn-small
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-raised cmi-btn-default cmi-btn-small', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-raised.cmi-btn-default.cmi-btn-large
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-raised cmi-btn-default cmi-btn-large', onclick: 'return false;'
          %h4 .cmi-btn.cmi-btn-raised.cmi-btn-default.cmi-btn-block
          = link_to 'Button', '#', class: 'cmi-btn cmi-btn-raised cmi-btn-default cmi-btn-block', onclick: 'return false;'

  / ---------------------------------------------
  / modal
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Flex Modal
      .grid-row
        .grid-col-4
          %p Modal with following specs:
          %ul
            %li Fixed
            %li 90% screen width (5% left/right margin)
            %li max. 90% height (5% top margin, min. 5% bottom margin)
            %li Header/Footer always visible
            %li Content overflow scroll

          = link_to 'Open example modal', '#', id: 'cmi-example-modal-btn', class: 'cmi-btn cmi-btn-raised cmi-btn-default'
          :javascript
            $(function() {
              $('#cmi-example-modal-btn').on('click', function(event){
                event.preventDefault();
                $('#cmi-example-modal').show()
                $('body').addClass('cmi-flex-modal-open')
              });
            });

        .grid-col-8
          %pre
            :preserve
              .cmi.cmi-flex-modal
                .cmi-flex-modal-dialog
                  [.cmi-flex-modal-dialog-inner] // optionally if 2nd container is necessary
                    %header
                      .cmi-flex-modal-header-inside
                        .cmi-pull-left
                          %a.cmi-flex-modal-back.cmi-btn.ripples{ href: '#' }
                            %i.mdi-navigation-arrow-back
                        .cmi-pull-right
                          %a.cmi-flex-modal-close.cmi-btn.ripples{ href: '#' }
                            %i.mdi-navigation-close
                        %h1 Modal

                    %main
                      .cmi-flex-modal-main-inside
                        %aside
                          %p My Sidebar
                        %section
                          %p My Content
                    %footer
                      .cmi-flex-modal-footer-inside
                        .cmi-pull-left
                          %a.cmi-flex-modal-back.cmi-btn.ripples{ href: '#' }
                            %i.mdi-navigation-arrow-back
                        .cmi-pull-right
                          %a.cmi-flex-modal-close.cmi-btn.cmi-btn-default.ripples.ripples-dark{ href: '#' }
                            Close
                          %a.cmi-flex-modal-save.cmi-btn.cmi-btn.cmi-btn-raised.cmi-btn-primary.ripples{ href: '#' }
                            Save

          %hr/
          %p
            To preseve the content from scrolling when the modal is opened, you
            should add the following class to the body tag:
          %pre
            :preserve
              body.cmi-flex-modal-open


/ --------------------------------------------------------------------------------
/ --------------------------------------------------------------------------------
/ --------------------------------------------------------------------------------
/ --------------------------------------------------------------------------------
/ -- flex modal
.cmi.cmi-flex-modal#cmi-example-modal{ style: 'display: none;' }
  .cmi-flex-modal-dialog
    .cmi-flex-modal-dialog-inner
      %header
        .cmi-flex-modal-header-inside
          .cmi-pull-left
            %a.cmi-flex-modal-back.cmi-btn.ripples{ href: '#' }
              %i.mdi-navigation-arrow-back
          .cmi-pull-right
            %a.cmi-flex-modal-close.cmi-btn.ripples{ href: '#' }
              %i.mdi-navigation-close
          %h1 Modal

      %main
        .cmi-flex-modal-main-inside
          %aside
            %p My Sidebar
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
          %section
            %p My Content
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
      %footer
        .cmi-flex-modal-footer-inside
          .cmi-pull-left
            %a.cmi-flex-modal-back.cmi-btn.ripples{ href: '#' }
              %i.mdi-navigation-arrow-back
          .cmi-pull-right
            %a.cmi-flex-modal-close.cmi-btn.cmi-btn-default.ripples.ripples-dark{ href: '#' }
              Close
            %a.cmi-flex-modal-save.cmi-btn.cmi-btn.cmi-btn-raised.cmi-btn-primary.ripples{ href: '#' }
              Save

