- content_for(:title, 'Curo Material Interface')
- content_for(:html_description, '')
- content_for(:html_keywords, '')
- content_for(:html_robots, 'index,follow')

- content_for(:headline, 'Curo Material Interface')

- content_for :sidebar_content do
  = partial 'shared/navigation'
  %paper-menu
    %paper-item= link_to 'Icons', '#icons'
    %paper-item= link_to 'Headlines', '#headlines'
    %paper-item= link_to 'Text', '#text'
    %paper-item= link_to 'Buttons', '#buttons'
    %paper-item= link_to 'FAB', '#fab'
    %paper-item= link_to 'FAB Slide', '#fab-slide'
    %paper-item= link_to 'Navbar', '#navbar'
    %paper-item= link_to 'Tables', '#tables'
    %paper-item= link_to 'Flex lists', '#flex-lists'
    %paper-item= link_to 'Cards', '#cards'


.grid-container
  .grid-row
    .grid-col-12
      %h3.cmi-h3 Material design ui extracted from Curo CMS
      %p.cmi-p
        Most of the ui elements are to Google`s #{link_to('Material Design', 'http://www.google.com/design/spec/material-design/introduction.html', target: :blank, class: 'cmi-a')} concept.
      %hr.cmi-hr/

  = partial 'sections_index/icons'
  = partial 'sections_index/headlines'
  = partial 'sections_index/text'
  = partial 'sections_index/buttons'
  = partial 'sections_index/fab'
  = partial 'sections_index/fab_slide'
  = partial 'sections_index/navbar'
  = partial 'sections_index/tables'
  = partial 'sections_index/flex-lists'
  = partial 'sections_index/cards'


  / ---------------------------------------------
  / modal
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Flex Modal
      .grid-row
        .grid-col-4
          %p.cmi-p Modal with following specs:
          %ul.cmi-ul
            %li.cmi-li Fixed
            %li.cmi-li 90% screen width (5% left/right margin)
            %li.cmi-li max. 90% height (5% top margin, min. 5% bottom margin)
            %li.cmi-li Header/Footer always visible
            %li.cmi-li Content overflow scroll

          = link_to 'Open example modal', '#', id: 'cmi-example-modal-btn', class: 'cmi-btn cmi-btn-raised cmi-btn-default'
          :javascript
            $(function() {
              $('#cmi-example-modal-btn').on('click', function(event){
                event.preventDefault();
                $('#cmi-example-modal').show()
                $('body').addClass('cmi-flex-modal-open')
              });

              $('#cmi-example-modal a').on('click', function(event){
                event.preventDefault();
                $('#cmi-example-modal').hide()
                $('body').removeClass('cmi-flex-modal-open')
              });
            });

        .grid-col-8
          %pre.cmi-pre
            :preserve
              .cmi.cmi-flex-modal
                .cmi-flex-modal-dialog
                  %header.cmi-header
                    .cmi-flex-modal-header-inside
                      .cmi-pull-left
                        %a.cmi-flex-modal-back.cmi-btn.cmi-ripples{ href: '#' }
                          %i.cmi-i.mdi.mdi-chevron-double-left
                      .cmi-pull-right
                        %a.cmi-flex-modal-close.cmi-btn.cmi-ripples{ href: '#' }
                          %i.cmi-i.mdi.mdi-close
                      %h1.cmi-h1 Modal

                  %main.cmi-main
                    %aside.cmi-aside
                      %p.cmi-p My Sidebar
                    %section.cmi-section
                      %p.cmi-p My Content

                  %footer.cmi-footer
                    .cmi-flex-modal-footer-inside
                      .cmi-pull-left
                        %a.cmi-flex-modal-back.cmi-btn.cmi-ripples{ href: '#' }
                          %i.cmi-i.cmi-i.mdi.mdi-chevron-double-left
                      .cmi-pull-right
                        %a.cmi-flex-modal-close.cmi-btn.cmi-btn-default.ripples.ripples-dark{ href: '#' }
                          Close
                        %a.cmi-flex-modal-save.cmi-btn.cmi-btn.cmi-btn-raised.cmi-btn-primary.ripples{ href: '#' }
                          Save

          %hr.cmi-hr/
          %p.cmi-p
            To preseve the content from scrolling when the modal is opened, you
            should add the following class to the body tag:
          %pre.cmi-pre
            :preserve
              body.cmi-flex-modal-open


/ --------------------------------------------------------------------------------
/ --------------------------------------------------------------------------------
/ --------------------------------------------------------------------------------
/ --------------------------------------------------------------------------------
/ -- flex modal
.cmi.cmi-flex-modal#cmi-example-modal{ style: 'display: none;' }
  .cmi-flex-modal-dialog
    %header.cmi-header
      .cmi-flex-modal-header-inside
        .cmi-pull-left
          %a.cmi-flex-modal-back.cmi-btn.cmi-ripples{ href: '#' }
            %i.cmi-i.mdi.mdi-chevron-double-left
        .cmi-pull-right
          %a.cmi-flex-modal-close.cmi-btn.cmi-ripples{ href: '#' }
            %i.cmi-i.mdi.mdi-close
        %h1.cmi-h1 Modal

    %main.cmi-main
      %aside.cmi-aside
        %p.cmi-p My Sidebar
        %p.cmi-p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
        %p.cmi-p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
      %section.cmi-section
        %p.cmi-p My Content
        %p.cmi-p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
        %p.cmi-p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
        %p.cmi-p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
        %p.cmi-p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si quicquam extra virtutem habeatur in bonis. Duo Reges: constructio interrete. Egone non intellego, quid sit don Graece, Latine voluptas? Aperiendum est igitur, quid sit voluptas;
    %footer.cmi-footer
      .cmi-flex-modal-footer-inside
        .cmi-pull-left
          %a.cmi-flex-modal-back.cmi-btn.cmi-ripples{ href: '#' }
            %i.cmi-i.cmi-i.mdi.mdi-chevron-double-left
        .cmi-pull-right
          %a.cmi-flex-modal-close.cmi-btn.cmi-btn-default.ripples.ripples-dark{ href: '#' }
            Close
          %a.cmi-flex-modal-save.cmi-btn.cmi-btn.cmi-btn-raised.cmi-btn-primary.ripples{ href: '#' }
            Save

