- content_for(:title, 'Curo Material Interface - JS')
- content_for(:html_description, '')
- content_for(:html_keywords, '')
- content_for(:html_robots, 'index,follow')

- content_for(:headline, 'Curo Material Interface - JS')


.grid-container
  .grid-row
    .grid-col-12
      %h3.cmi-h3 Material design ui extracted from Curo CMS
      %p.cmi-p
        Most of the ui elements are to Google`s #{link_to('Material Design', 'http://www.google.com/design/spec/material-design/introduction.html', target: :blank)} concept.
      %hr.cmi-hr/


  / ---------------------------------------------
  / loading indicator
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Loading indicator
      .grid-row
        .grid-col-6
          #loading-indicator-1{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            .cmi-loading-indicator.cmi-loading-fade
              .cmi-loading-indicator-inside
                %svg.cmi-circular
                  %circle.cmi-path{ cx: '50', cy: '50', r: '20', fill: 'none', :'stroke-width' => '3', :'stroke-miterlimit' => '10' }
        .grid-col-6
          %h3.cmi-h3 Javascript
      .grid-row
        .grid-col-6
          %h3 Loading default
          #loading-indicator-2{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
        .grid-col-6
          %br/
          %br/
          %pre.cmi-pre
            :preserve
              var loading = new CMI.LoadingIndicator();
              $('#loading-indicator-2').append(loading.domElement());
              loading.fadeIn();
              // loading.fadeOut()
              // loading.remove()

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator();
            $('#loading-indicator-2').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3.cmi-h3 No background
          %p.cmi-p#loading-indicator-3{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre.cmi-pre
            :preserve
              var loading = new CMI.LoadingIndicator();
              $('#loading-indicator-3').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator();
            $('#loading-indicator-3').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3.cmi-h3 Background light
          %p.cmi-p#loading-indicator-4{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre.cmi-pre
            :preserve
              var loading = new CMI.LoadingIndicator({ background: 'light' });
              $('#loading-indicator-4').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator({ background: 'light' });
            $('#loading-indicator-4').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3.cmi-h3 Background dark
          %p.cmi-p#loading-indicator-5{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre.cmi-pre
            :preserve
              var loading = new CMI.LoadingIndicator({ background: 'dark' });
              $('#loading-indicator-5').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator({ background: 'dark' });
            $('#loading-indicator-5').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3.cmi-h3 Background custom
          :css
            .cmi-loading-indicator.my-custom-background {
              background-color: rgba(70, 0, 0, 0.6);
            }
            .cmi-loading-indicator.my-custom-background .path {
              stroke: #009
            }
          %p.cmi-p#loading-indicator-6{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre.cmi-pre
            :preserve
              .cmi-loading-indicator.my-custom-background {
                background-color: rgba(#600, 0.8);
              }
              .cmi-loading-indicator.my-custom-background .path {
                stroke: #009
              }
          %pre.cmi-pre
            :preserve
              var loading = new CMI.LoadingIndicator({ background: 'my-custom-background' });
              $('#loading-indicator-6').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator({ background: 'my-custom-background' });
            $('#loading-indicator-6').append(loading.domElement());
            loading.fadeIn();
          });

  / ---------------------------------------------
  / ripples
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Ripples
      .grid-row#ripples-1
        .grid-col-6
          %h4.cmi-h4 Default (.cmi-ripples)
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-btn-default', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-btn-raised', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
        .grid-col-6
          %pre.cmi-pre
            :preserve
              $('#ripples-1').on('mousedown', 'a', function(event) {
                CMI.Ripples.animateClick($(this), event);
              });
        :javascript
          $(function() {
            $('#ripples-1').on('mousedown', 'a', function(event) {
              CMI.Ripples.animateClick($(this), event);
            });
          });
      .grid-row#ripples-2
        .grid-col-6
          %h4.cmi-h4 .cmi-ripples.cmi-ripples-dark
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-dark', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-dark cmi-btn-default', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-dark cmi-btn-raised', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-dark cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
        .grid-col-6
          %pre.cmi-pre
            :preserve
              $('#ripples-2').on('mouseup', 'a', function(event) {
                CMI.Ripples.animateClick($(this), event);
              });
        :javascript
          $(function() {
            $('#ripples-2').on('mouseup', 'a', function(event) {
              CMI.Ripples.animateClick($(this), event);
            });
          });
      .grid-row#ripples-3
        .grid-col-6
          %h4.cmi-h4 .cmi-ripples.cmi-ripples-primary
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-primary', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-primary cmi-btn-default', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-primary cmi-btn-raised', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-a cmi-btn cmi-ripples cmi-ripples-primary cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
        .grid-col-6
          %pre.cmi-pre
            :preserve
              $('#ripples-3').on('click', 'a', function(event) {
                CMI.Ripples.animateClick($(this), event);
              });
        :javascript
          $(function() {
            $('#ripples-3').on('click', 'a', function(event) {
              CMI.Ripples.animateClick($(this), event);
            });
          });

  / ---------------------------------------------
  / tabs
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Tabs
  .grid-row#tabs-1
    .grid-col-6
      %h4.cmi-h4 .cmi-tabs and .cmi-tabs-tab
      %div{ style: 'width: 100%; height: 210px; background: #f0f0f0; padding: 10px' }
        .cmi-navbar
          %ul.cmi-tabs{ data: { cmi_tabs_container: '#tabs-1' } }
            %li.cmi-li.cmi-tabs-active= link_to 'Tab 1', '#one', class: 'cmi-a'
            %li.cmi-li= link_to 'Tab 2', '#two', class: 'cmi-a'
            %li.cmi-li= link_to 'Tab 3', '#three', class: 'cmi-a'
        %br/
        .cmi-tabs-tab.cmi-tab-active#one{ style: 'background-color: #fff;' }
          %h4.cmi-h4 Tab 1
          %p.cmi-p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Hic ambiguo ludimur.
        .cmi-tabs-tab#two{ style: 'background-color: #fff;' }
          %h4.cmi-h4 Tab 2
          %p.cmi-p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Hic ambiguo ludimur.
        .cmi-tabs-tab#three{ style: 'background-color: #fff;' }
          %h4.cmi-h4 Tab 3
          %p.cmi-p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Hic ambiguo ludimur.
    .grid-col-6
      %pre.cmi-pre
        :preserve
          $('#tabs-1 li.cmi-tabs-active a').each(function() {
            CMI.Tabs.activate($(this));
          });
          $('#tabs-1').on('click', 'a', function(event) {
            event.preventDefault();
            CMI.Tabs.activate($(this));
          });
    :javascript
      $(function() {
        $('#tabs-1 li.cmi-tabs-active a').each(function() {
          CMI.Tabs.activate($(this));
        });
        $('#tabs-1').on('click', 'a', function(event) {
          event.preventDefault();
          CMI.Tabs.activate($(this));
        });
      });

  / ---------------------------------------------
  / text fields
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Text inputs
  .grid-row#text-fields-1
    .grid-col-6
      %h4.cmi-h4 Default
      .cmi-text-input
        <input type="text" name="text1" value="" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
      .cmi-text-input
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
      .cmi-text-input.cmi-valid
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
      .cmi-text-input.cmi-invalid
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
      %h4.cmi-h4 Hints
      .cmi-text-input
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
        %p.cmi-p.cmi-hint
          Some little notice as hint text.
      .cmi-text-input
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
        %p.cmi-p.cmi-hint.cmi-valid
          Some little notice as hint text.
      .cmi-text-input
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
        %p.cmi-p.cmi-hint.cmi-valid
          Some little notice as hint text.
        %p.cmi-p.cmi-hint
          Second text line.
      .cmi-text-input
        <input type="text" name="text1" value="Filled value" class="cmi-input"/>
        %label.cmi-label{ for: 'text1' } My field
        %p.cmi-p.cmi-hint.cmi-invalid
          Some little notice as hint text.
    .grid-col-6
      %pre.cmi-pre
        :preserve
          $('#text-fields-1 input').each(function() {
            CMI.FormComponents.TextField.reset($(this));
          });
          $('#text-fields-1').on('change', 'input', function(){
            CMI.FormComponents.TextField.animateChange($(this))
          });
          $('#text-fields-1').on('focus', 'input', function(){
            CMI.FormComponents.TextField.animateFocus($(this))
          });
          $('#text-fields-1').on('blur', 'input', function(){
            CMI.FormComponents.TextField.animateBlur($(this))
          });
          $('#text-fields-1').on('reset', 'form', function(){
            CMI.FormComponents.TextField.formReset($(this))
          });
    :javascript
      $(function() {
        $('#text-fields-1 input').each(function() {
          CMI.FormComponents.TextField.reset($(this));
        });
        $('#text-fields-1').on('change', 'input', function(){
          CMI.FormComponents.TextField.animateChange($(this))
        });
        $('#text-fields-1').on('focus', 'input', function(){
          CMI.FormComponents.TextField.animateFocus($(this))
        });
        $('#text-fields-1').on('blur', 'input', function(){
          CMI.FormComponents.TextField.animateBlur($(this))
        });
        $('#text-fields-1').on('reset', 'form', function(){
          CMI.FormComponents.TextField.formReset($(this))
        });
      });

  / ---------------------------------------------
  / textareas
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Textareas
  .grid-row#text-fields-2
    .grid-col-6
      %h4.cmi-h4 Default
      .cmi-text-input
        <textarea name="text2" class="cmi-textarea"></textarea>
        %label.cmi-label{ for: 'text2' } My field
      .cmi-text-input
        <textarea name="text2" class="cmi-textarea">Hallo Welt</textarea>
        %label.cmi-label{ for: 'text2' } My field
      .cmi-text-input.cmi-valid
        <textarea name="text2" class="cmi-textarea">Hallo Welt</textarea>
        %label.cmi-label{ for: 'text2' } My field
      .cmi-text-input.cmi-invalid
        <textarea name="text2" class="cmi-textarea">Hallo Welt</textarea>
        %label.cmi-label{ for: 'text2' } My field
      %h4.cmi-h4 Hints
      .cmi-text-input
        <textarea name="text2" class="cmi-textarea"></textarea>
        %label.cmi-label{ for: 'text2' } My field
        %p.cmi-p.cmi-hint Some little notice as hint text.
      .cmi-text-input
        <textarea name="text2" class="cmi-textarea">Hallo Welt</textarea>
        %label.cmi-label{ for: 'text2' } My field
        %p.cmi-p.cmi-hint.cmi-valid Some little notice as hint text.
      .cmi-text-input
        <textarea name="text2" class="cmi-textarea">Hallo Welt</textarea>
        %label.cmi-label{ for: 'text2' } My field
        %p.cmi-p.cmi-hint.cmi-valid Some little notice as hint text.
        %p.cmi-p.cmi-hint Second hint text.
      .cmi-text-input
        <textarea name="text2" class="cmi-textarea">Hallo Welt</textarea>
        %label.cmi-label{ for: 'text2' } My field
        %p.cmi-p.cmi-hint.cmi-invalid Some little notice as hint text.
    .grid-col-6
      %pre.cmi-pre
        :preserve
          $('#text-fields-2 textarea').each(function() {
            CMI.FormComponents.TextField.reset($(this));
          });
          $('#text-fields-2').on('change', 'textarea', function(){
            CMI.FormComponents.TextField.animateChange($(this))
          });
          $('#text-fields-2').on('focus', 'textarea', function(){
            CMI.FormComponents.TextField.animateFocus($(this))
          });
          $('#text-fields-2').on('blur', 'textarea', function(){
            CMI.FormComponents.TextField.animateBlur($(this))
          });
          $('#text-fields-2').on('reset', 'form', function(){
            CMI.FormComponents.TextField.formReset($(this))
          });
    :javascript
      $(function() {
        $('#text-fields-2 textarea').each(function() {
          CMI.FormComponents.TextField.reset($(this));
        });
        $('#text-fields-2').on('change', 'textarea', function(){
          CMI.FormComponents.TextField.animateChange($(this))
        });
        $('#text-fields-2').on('focus', 'textarea', function(){
          CMI.FormComponents.TextField.animateFocus($(this))
        });
        $('#text-fields-2').on('blur', 'textarea', function(){
          CMI.FormComponents.TextField.animateBlur($(this))
        });
        $('#text-fields-2').on('reset', 'form', function(){
          CMI.FormComponents.TextField.formReset($(this))
        });
      });

  / ---------------------------------------------
  / growing textareas
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Growing textareas
  .grid-row#text-fields-3
    .grid-col-6
      .cmi-text-input.cmi-growing-textarea
        <textarea name="text2" class="cmi-textarea"></textarea>
        %label.cmi-label{ for: 'text2' } My field
    .grid-col-6
      %pre.cmi-pre
        :preserve
          $('#text-fields-2 textarea').each(function() {
            CMI.FormComponents.TextField.reset($(this));
          });
          $('#text-fields-2').on('change', 'textarea', function(){
            CMI.FormComponents.TextField.animateChange($(this))
          });
          $('#text-fields-2').on('focus', 'textarea', function(){
            CMI.FormComponents.TextField.animateFocus($(this))
          });
          $('#text-fields-2').on('blur', 'textarea', function(){
            CMI.FormComponents.TextField.animateBlur($(this))
          });
          $('#text-fields-2').on('reset', 'form', function(){
            CMI.FormComponents.TextField.formReset($(this))
          });
      %pre.cmi-pre
        :preserve
          $('#text-fields-3').on('keyup', 'textarea', function(){
            CMI.FormComponents.Textarea.animateHeight($('body'), $(this))
          });
          $('#text-fields-3').on('keydown', 'textarea', function(){
            CMI.FormComponents.Textarea.animateHeight($('body'), $(this))
          });
          $('#text-fields-3 textarea').each(function(){
            CMI.FormComponents.Textarea.animateHeight($('body'), $(this))
          });
    :javascript
      $(function() {
        $('#text-fields-3 textarea').each(function() {
          CMI.FormComponents.TextField.reset($(this));
        });
        $('#text-fields-3').on('change', 'textarea', function(){
          CMI.FormComponents.TextField.animateChange($(this))
        });
        $('#text-fields-3').on('focus', 'textarea', function(){
          CMI.FormComponents.TextField.animateFocus($(this))
        });
        $('#text-fields-3').on('blur', 'textarea', function(){
          CMI.FormComponents.TextField.animateBlur($(this))
        });
        $('#text-fields-3').on('reset', 'form', function(){
          CMI.FormComponents.TextField.formReset($(this))
        });
        // -------
        $('#text-fields-3').on('keyup', 'textarea', function(){
          CMI.FormComponents.Textarea.animateHeight($('body'), $(this))
        });
        $('#text-fields-3').on('keydown', 'textarea', function(){
          CMI.FormComponents.Textarea.animateHeight($('body'), $(this))
        });
        $('#text-fields-3 textarea').each(function(){
          CMI.FormComponents.Textarea.animateHeight($('body'), $(this))
        });
      });

  / ---------------------------------------------
  / checkboxes
  .grid-row
    .grid-col-12
      %h2.cmi-h2.cmi-lined
        %span.cmi-span Checkboxes
  .grid-row#checkboxes-1
    .grid-col-6
      %h4.cmi-h4 Normal
      .cmi-checkbox-container
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
      .cmi-checkbox-container
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" checked class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
      .cmi-checkbox-container.cmi-valid
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
      .cmi-checkbox-container.cmi-invalid
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
      %h4.cmi-h4 Hints
      .cmi-checkbox-container
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
        %p.cmi-p.hint Some little notice as hint text.
      .cmi-checkbox-container
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
        %p.cmi-p.cmi-hint.cmi-valid Some little notice as hint text.
      .cmi-checkbox-container
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
        %p.cmi-p.cmi-hint.cmi-valid Some little notice as hint text.
        %p.cmi-p.cmi-hint Second notice text.
      .cmi-checkbox-container
        %label.cmi-label
          <input type="checkbox" name="check1" value="1" class="cmi-input"/>
          %span.cmi-span.cmi-animation.cmi-ripples.cmi-ripples-dark
          %span.cmi-span.cmi-checkbox
          My checkbox text
        %p.cmi-p.cmi-hint.cmi-invalid Some little notice as hint text.
    .grid-col-6
      %pre.cmi-pre
        :preserve
          $('#checkboxes-1').on('click', 'label', function() {
            CMI.FormComponents.Checkbox.click($(this));
          });
          $('#checkboxes-1 label').each(function() {
            CMI.FormComponents.Checkbox.reset($(this));
          });
    :javascript
      $(function() {
        $('#checkboxes-1').on('click', 'label', function() {
          CMI.FormComponents.Checkbox.click($(this));
        });
        $('#checkboxes-1 label').each(function() {
          CMI.FormComponents.Checkbox.reset($(this));
        });
      });
