- content_for(:title, 'Curo Material Interface - JS')
- content_for(:html_description, '')
- content_for(:html_keywords, '')
- content_for(:html_robots, 'index,follow')

- content_for(:headline, 'Curo Material Interface - JS')


.grid-container
  .grid-row
    .grid-col-12
      %h3 Material design ui extracted from Curo CMS
      %p
        Most of the ui elements are to Google`s #{link_to('Material Design', 'http://www.google.com/design/spec/material-design/introduction.html', target: :blank)} concept.
      %hr/


  / ---------------------------------------------
  / loading indicator
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Loading indicator
      .grid-row
        .grid-col-6
          #loading-indicator-1{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            .cmi-loading-indicator.cmi-loading-fade
              .cmi-loading-indicator-inside
                %svg.circular
                  %circle.path{ cx: '50', cy: '50', r: '20', fill: 'none', :'stroke-width' => '3', :'stroke-miterlimit' => '10' }
        .grid-col-6
          %h3 Javascript
      .grid-row
        .grid-col-6
          %h3 Loading default
          #loading-indicator-2{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
        .grid-col-6
          %br/
          %br/
          %pre
            :preserve
              var loading = new CMI.LoadingIndicator();
              $('#loading-indicator-2').append(loading.domElement());
              loading.fadeIn();
              // loading.fadeOut()
              // loading.remove()

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator();
            $('#loading-indicator-2').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3 No background
          %p#loading-indicator-3{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre
            :preserve
              var loading = new CMI.LoadingIndicator();
              $('#loading-indicator-3').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator();
            $('#loading-indicator-3').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3 Background light
          %p#loading-indicator-4{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre
            :preserve
              var loading = new CMI.LoadingIndicator({ background: 'light' });
              $('#loading-indicator-4').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator({ background: 'light' });
            $('#loading-indicator-4').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3 Background dark
          %p#loading-indicator-5{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre
            :preserve
              var loading = new CMI.LoadingIndicator({ background: 'dark' });
              $('#loading-indicator-5').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator({ background: 'dark' });
            $('#loading-indicator-5').append(loading.domElement());
            loading.fadeIn();
          });

      .grid-row
        .grid-col-6
          %h3 Background custom
          :css
            .cmi-loading-indicator.my-custom-background {
              background-color: rgba(70, 0, 0, 0.6);
            }
            .cmi-loading-indicator.my-custom-background .path {
              stroke: #009
            }
          %p#loading-indicator-6{ style: 'width: 100%; height: 150px; background: #f9f9f9; position: relative;' }
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id [redacted]tilius factum negabat. Itaque mihi non satis videmini considerare quod iter sit naturae quaeque progressio. Sedulo, inquam, faciam. Quamquam te quidem video minime esse deterritum. Quo igitur, inquit, modo? Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Duo Reges: constructio interrete. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. An haec ab eo non dicuntur?
        .grid-col-6
          %br/
          %br/
          %pre
            :preserve
              .cmi-loading-indicator.my-custom-background {
                background-color: rgba(#600, 0.8);
              }
              .cmi-loading-indicator.my-custom-background .path {
                stroke: #009
              }
          %pre
            :preserve
              var loading = new CMI.LoadingIndicator({ background: 'my-custom-background' });
              $('#loading-indicator-6').append(loading.domElement());
              loading.fadeIn();

        :javascript
          $(function() {
            var loading = new CMI.LoadingIndicator({ background: 'my-custom-background' });
            $('#loading-indicator-6').append(loading.domElement());
            loading.fadeIn();
          });

  / ---------------------------------------------
  / ripples
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Ripples
      .grid-row#ripples-1
        .grid-col-6
          %h4 Default (.cmi-ripples)
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-btn-default', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-btn-raised', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
        .grid-col-6
          %pre
            :preserve
              $('#ripples-1').on('mousedown', 'a', function(event) {
                CMI.Ripples.animateClick($(this), event);
              });
        :javascript
          $(function() {
            $('#ripples-1').on('mousedown', 'a', function(event) {
              CMI.Ripples.animateClick($(this), event);
            });
          });
      .grid-row#ripples-2
        .grid-col-6
          %h4 .cmi-ripples.cmi-ripples-dark
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-dark', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-dark cmi-btn-default', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-dark cmi-btn-raised', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-dark cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
        .grid-col-6
          %pre
            :preserve
              $('#ripples-2').on('mouseup', 'a', function(event) {
                CMI.Ripples.animateClick($(this), event);
              });
        :javascript
          $(function() {
            $('#ripples-2').on('mouseup', 'a', function(event) {
              CMI.Ripples.animateClick($(this), event);
            });
          });
      .grid-row#ripples-3
        .grid-col-6
          %h4 .cmi-ripples.cmi-ripples-primary
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-primary', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-primary cmi-btn-default', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-primary cmi-btn-raised', onclick: 'return false;'
          = link_to 'Button', '#', class: 'cmi-btn cmi-ripples cmi-ripples-primary cmi-btn-raised cmi-btn-primary', onclick: 'return false;'
        .grid-col-6
          %pre
            :preserve
              $('#ripples-3').on('click', 'a', function(event) {
                CMI.Ripples.animateClick($(this), event);
              });
        :javascript
          $(function() {
            $('#ripples-3').on('click', 'a', function(event) {
              CMI.Ripples.animateClick($(this), event);
            });
          });

  / ---------------------------------------------
  / tabs
  .grid-row
    .grid-col-12
      %h2.cmi-lined
        %span Tabs
  .grid-row#tabs-1
    .grid-col-6
      %h4 .cmi-tabs and .cmi-tabs-tab
      %div{ style: 'width: 100%; height: 210px; background: #f0f0f0; padding: 10px' }
        .cmi-navbar
          %ul.cmi-tabs{ data: { cmi_tabs_container: '#tabs-1' } }
            %li.cmi-tabs-active= link_to 'Tab 1', '#one'
            %li= link_to 'Tab 2', '#two'
            %li= link_to 'Tab 3', '#three'
        %br/
        .cmi-tabs-tab.cmi-tab-active#one{ style: 'background-color: #fff;' }
          %h4 Tab 1
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Hic ambiguo ludimur.
        .cmi-tabs-tab#two{ style: 'background-color: #fff;' }
          %h4 Tab 2
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Hic ambiguo ludimur.
        .cmi-tabs-tab#three{ style: 'background-color: #fff;' }
          %h4 Tab 3
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Si mala non sunt, iacet omnis ratio Peripateticorum. Hic ambiguo ludimur.
    .grid-col-6
      %pre
        :preserve
          $('#tabs-1 li.cmi-tabs-active a').each(function() {
            CMI.Tabs.activate($(this));
          });
          $('#tabs-1').on('click', 'a', function(event) {
            event.preventDefault();
            CMI.Tabs.activate($(this));
          });
    :javascript
      $(function() {
        $('#tabs-1 li.cmi-tabs-active a').each(function() {
          CMI.Tabs.activate($(this));
        });
        $('#tabs-1').on('click', 'a', function(event) {
          event.preventDefault();
          CMI.Tabs.activate($(this));
        });
      });